*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
.main_box{
    height: 100vh;
    background:url(photo.jpg);
    background-size: cover;
}
.btn_one{
    top: 16px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    position: absolute;
    left: 18px;
    list-style: 60px;
    transition: all 0.3s linear;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: rgba(231, 184, 184, 0.1);
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}
.logo{
    width: 100%;
    position: absolute;
    line-height: 60px;
    height: 50px;
}
.logo a{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 50px;
    text-decoration: none;
}
.btn_two{
    position: absolute;
    left: 275px;
    font-size: 25px;
    color: grey;
    line-height: 60px;
    transition: all 0.3s linear;
}
.menu{
    margin-top: 70px;
    margin-bottom: 50px;
}
li{
    margin-top: 4px;
    padding: 10px 14px;
}
.menu a,i{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
li i{
    padding-right: 10px;
}
.social_media{
    position: absolute;
    left: 25%;
}
.social_media a i{
    padding-right: 20px;
    color: #fff;
    opacity: 0.5;
}
#check{
    display: none;
}
li:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.btn_two i:hover{
    font-size: 25px;
    transition: all 0.3s linear;
}
.social_media a i:hover{
    opacity: 1;
    transform: scale(1.1);
}
.btn_one:hover{
    transform: scale(1.5);
}
#check:checked ~.sidebar_menu{
    left: 0;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
.logo:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}